#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: gray;
  }
  
  header h1{
    text-align: center;
  } 
  
  main h1 {
    text-align: left;
    margin: 0px;
  }
  
  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
  }
  
  main {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }
  
  img {
    display: block;
    margin: auto;
    width: 350px;
    margin-bottom: 40px;
    max-height: 300px;
  }
  
  @media only screen and (max-width: 815px) {
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
  
    #navbar {
      background-color: white;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    main {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    main {
      margin-left: -10px;
    }
  }